github "Criptext/SignalProtocolSwift" == 0.8
github "ElaWorkshop/TagListView" ~> 1.0
github "Alamofire/Alamofire" ~> 4.7
github "SwiftyJSON/SwiftyJSON"
github "realm/realm-cocoa"
github "danieltigse/CLTokenInputView" ~> 2.7.0
github "CosmicMind/Material"
github "Criptext/CICropPicker" ~> 1.1.0
github "rs/SDWebImage"
github "Marxon13/M13Checkbox"
github "tidwall/SwiftWebSocket"
github "scinfu/SwiftSoup"
github "misterwell/MMMaterialDesignSpinner"
github "Criptext/MIBadgeButton-Swift" ~> 0.8
github "cjwirth/RichEditorView"
github "hackiftekhar/IQKeyboardManager"
github "Criptext/UIImageView-Letters" ~> 1.1.5
